.selection {
	float: left;
	width: 49%;
	border:2px solid black;
	height: 200px;
	overflow-y: auto;
}

.selection-choice {
	 display: block;
	 margin-left: 10px;
}

.selection-summary {
	float: right;
	width: 49%;
	border:2px solid black;
	height: 200px;
	overflow-y: auto;
}

.summary-row {
	margin-left: 10px;
	margin-right: 10px;
}

.clear-div {
	clear: both;
	margin-bottom: 30px;
}