<script src="supersede-dm-app/js/enact_requirements.js"></script>

<style>
    h1, h2, h3 {
	    text-align: center;
    }
    input, form {
	    margin: 0 auto;
	    width: 500px;
    }
    .rankings > div > div {
        min-width: 500px;
        border-radius: 5px;
        margin: 5px auto;
    }
    .rankings div {
        padding: 5px;
    }
    .rankings > div > div:hover {
        border: 1px solid #356AA0;
    }
    #content p {
        text-align: center;
    }
</style>

<div ng-controller="enact_requirements">

    <h1>Rankings for Process {{processName}}</h1>

    <div class="rankings" ng-show="!empty()" ng-repeat="ranking in rankings">
        <h2>{{ranking.name}}</h2>

        <div ng-repeat="score in ranking.scores">
            <div jqx-expander jqx-theme="summer" jqx-expanded="false" jqx-width="500">
                <div>
                    <strong>{{score.requirementId + ': ' + getRequirement(score.requirementId).name}}</strong>
                </div>
                <div style="background-color: #ffd11a">
                    <strong>Description</strong>: {{getRequirement(score.requirementId).description}}<br>
                    <strong>Priority</strong>: {{score.priority}}<br>
                </div>
            </div>
        </div>

        <h2>Enact the Requirements?</h2>

        <h3>This will end the requirements prioritization process</h3>

        <br>

        <div align="center">
            <jqx-button style="margin-right: 10px" ng-click="cancel()">Cancel</jqx-button>
            <jqx-button ng-click="proceed()">Proceed</jqx-button>
        </div>
    </div>

    <p ng-show="empty()"><strong>No ranking has been saved yet for this process!</strong></p>

</div>