<script src="supersede-dm-app/js/home.js"></script>

<style>
    h1 {
        text-align: center;
    }
</style>

<div class="container" ng-controller="home">

    <h1>Decision Making Game</h1>

    <div>

        <div id='expAlerts' ng-show="hasRole('DECISION_SCOPE_PROVIDER')" style='margin-top:32px'>
            <div><h2>Queued alerts: {{alertsNum}}</h2></div>
            <div>
                <div id="alerts"></div>
            </div>
        </div>

        <div id='expRequirements' ng-show="hasRole('DECISION_SCOPE_PROVIDER')" style='margin-top:32px'>
            <div>
                <h2>Queued requirements: {{reqNum}}</h2>
                <jqx-button ng-click="editRequirements()">Edit Requirements</jqx-button>
            </div>
            <div>
                <div style="border: none;" id="requirements"></div>
            </div>
        </div>

        <div id='expProcesses' ng-show="hasRole('DECISION_SCOPE_PROVIDER')" style='margin-top:32px'>
            <div>
                <h2>Ongoing processes: {{procNum}}</h2>
                <jqx-button ng-click="createNewProcess()">Create new</jqx-button>
            </div>
            <div>
                <div style="border: none;" id="processes"></div>
            </div>
        </div>

        <div id='expActivities' ng-show="hasRole('OPINION_NEGOTIATOR') || hasRole('OPINION_PROVIDER')" style='margin-top:32px'>
            <div><h2>Pending activities: {{actNum}}</h2></div>
            <div>
                <div style="border: none;" id="activities"></div>
            </div>
        </div>

    </div>

</div>