<script src="supersede-dm-app/js/imports.js"></script>

<style>
    h1 {
        text-align: center;
    }
</style>

<div ng-controller="import_requirements">

    <h1>Import requirements into current process</h1>

    <div style="font-size: 13px; font-family: Verdana">
        <div id="requirements"></div>
    </div>

    <br>

    <div align="center">
        <jqx-button style="margin-right: 10px" ng-click="importRequirements()">Import</jqx-button>
        <jqx-button ng-click="home()">Back</jqx-button>
    </div>

</div>