<script src="supersede-dm-app/js/import_requirements.js"></script>

<style>
    h1, h2 {
        text-align: center;
    }
</style>

<div ng-controller="import_requirements">

    <h1>Add Requirements to the Process</h1>

    <h2>Process Details</h2>
    <div id="process_details"></div>

    <h2>Requirements</h2>

    <div style="font-size: 13px; font-family: Verdana">
        <div id="requirements"></div>
    </div>

    <br>

    <div align="center">
        <jqx-button style="margin-right: 10px" ng-click="importRequirements()">Import</jqx-button>
        <jqx-button ng-click="home()">Back</jqx-button>
    </div>

</div>