<script src="supersede-dm-app/js/req_edit_page.js"></script>

<div ng-controller="req_edit_page">

	<div style="font-size: 13px; font-family: Verdana">
		<div>
			<form>
				Name: <input id="current_requirement_name" type="text"
					value="{{currentRequirement.name}}"><br> <br>
				Description: <input id="current_requirement_description" type="text"
					value="{{currentRequirement.description}}"><br> <br>
				<br>
			</form>
			<jqx-button ng-click="updateRequirement()">Update
			requirement</jqx-button>
			<p id="requirement_status"></p>
		</div>
	</div>

	<h2>Dependencies</h2>
	<div style="font-size: 13px; font-family: Verdana">
		<div id="dependencies"></div>
	</div>

	<h2>Properties</h2>
	<div style="font-size: 13px; font-family: Verdana">
		<div id="properties"></div>

		<h3>Add a new property</h3>
		<form>
			Property Name: <input id="property_name" type="text"><br>
			<br> Property Value: <input id="property_value" type="text"><br>
			<br> <br>
		</form>
		<jqx-button ng-click="addProperty()">Add property</jqx-button>
		<p id="property_status"></p>
	</div>

	<br>

<!-- 	<div align="center"> -->
<!-- 		<jqx-button ng-show="!lastRequirement()" -->
<!-- 			ng-click="goToNextRequirement()">Go to the next -->
<!-- 		requirement</jqx-button> -->
<!-- 		<jqx-button ng-show="lastRequirement()" -->
<!-- 			ng-click="submitDependencies()">Submit Dependencies</jqx-button> -->
<!-- 	</div> -->

	<br>

	<div align="center">
		<p id="submitted"></p>
	</div>

</div>