<script src="supersede-dm-app/garp/js/gameplay.js"></script>
<link rel="stylesheet" type="text/css" href="supersede-dm-app/garp/jqwidgets/styles/jqx.summer.css" />
<style>
    h1 {
        text-align: center;
    }
    #sortable {
        margin: 0 auto;
        padding: 5px;
        width: 520px;
    }
    #sortable > div {
        border-radius: 5px;
        margin: 5px;
    }
    #sortable div {
        padding: 5px;
    }
    #sortable div:hover {
        border: 1px solid #356AA0;
    }
</style>
<h1>Mockup for Requirements Ordering</h1>
<div id='jqxTabs' ng-controller="reqsCtrl">
    <ul style='margin-left: 20px;'>
        <li ng-repeat="criterion in requirements">{{criterion.id}}</li>
    </ul>
    <div class="sortable" ng-controller="reqsCtrl" ng-repeat="criterion in requirements">
        <div ng-repeat="requirement in criterion.requirements" class="jqxexpander" style="min-width: 500px">
            <div><strong>{{requirement.requirementId + ': ' + requirement.name}}</strong></div>
            <div style="background-color: #ffd11a">
                <strong>Description</strong>: {{requirement.description}}<br>
            </div>
        </div>
    </div>
</div>