<script src="supersede-dm-app/garp/js/game_details.js"></script>

<style>
    h1, h2 {
        text-align: center;
    }
</style>

<div ng-controller="game_details">

    <h1>Game Details</h1>

    <h2>Selected Solution</h2>
    <p ng-repeat="(requirementId, value) in solution">
        <strong>Id</strong>: {{requirementId}}<br>
        <strong>Name</strong>: {{getRequirement(requirementId).name}}<br>
        <strong>Description</strong>: {{getRequirement(requirementId).description}}<br>
        <strong>Value</strong>: {{value}}
    </p>

    <br>
    <jqx-button ng-click="closeGame()">Close Game</jqx-button>
</div>