<script src="supersede-dm-app/garp/js/game_details.js"></script>

<style>
    h1, h2 {
        text-align: center;
    }
</style>

<div ng-controller="game_details">

    <h1>Game Details</h1>

    <div ng-show="solutionSelected()">
        <h2>Selected Solution</h2>
        <p ng-repeat="(requirementId, value) in solution">
            <strong>Id</strong>: {{requirementId}}<br>
            <strong>Name</strong>: {{getRequirement(requirementId).name}}<br>
            <strong>Description</strong>: {{getRequirement(requirementId).description}}<br>
            <strong>Value</strong>: {{value}}
        </p>
    </div>

    <p ng-show="!solutionSelected()">No solution has been selected yet</p>

    <br>
    <jqx-button style="margin-right: 10px" ng-click="closeGame()">Close Game</jqx-button>
    <jqx-button ng-click="home()">GA Home</jqx-button>

    <p id="game_closed"></p>
</div>