<script src="supersede-dm-app/ahprp/js/game.js"></script>
	
<div ng-controller="game">

	<div style="float: right; width: 700px;">
		<h2>Calculate global requirements ranks of the Game: {{gameId}}</h2>
		
		<jqx-chart id='chartContainer' jqx-settings="chartSettings" jqx-create="createChart" style="width: '100%'; height: 450px"></jqx-chart>				
	
		
		<div align="center" style="margin-top: 15px;">
			<jqx-button ng-click="computeRank()">Compute global rank</jqx-button>
		</div></div>
	
	<div style="clear: both;"></div>
	
	<div ng-hide="game.finished">
		<div align="center">
			<jqx-button ng-click="enact()">Enact prioritized requirements</jqx-button>
			<jqx-button ng-click="gameEnd()">Close decision making process</jqx-button>
		</div>	
	</div>
	
	<!--  
	<div id='jqxWidget' style="font-size: 13px; font-family: Verdana">
        <div id="prioritizations"></div>
    </div>
    -->
    
    <div id='jqxTabs'>
    <ul style='margin-left: 20px;'>
        <li ng-repeat="solution in solutions">Solution {{solution.id}}</li>
    </ul>
    <div ng-repeat="solution in solutions">
        <div ng-repeat="rank in solution.ranks" style="min-width: 500px">
            <div><strong>Requirement: {{rank.requirementID + ': ' + rank.requirementName}}, Rank {{rank.value}}</strong></div>
        </div>
    </div>
</div>
	
</div>