<script src="supersede-dm-app/garp/js/gameplay.js"></script>
<link rel="stylesheet" type="text/css" href="supersede-dm-app/garp/jqwidgets/styles/jqx.summer.css" />
    <link rel="stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#jqxTabs').jqxTabs({ width: 700, height: 500 });
    });
</script>
<style>
    h1 {
        text-align: center;
    }
    #sortable {
        margin: 0 auto;
        padding: 5px;
        width: 520px;
    }
    #sortable > div {
        border-radius: 5px;
        margin: 5px;
    }
    #sortable div {
        padding: 5px;
    }
    #sortable div:hover {
        border: 1px solid #356AA0;
    }
</style>
<h1>Mockup for Requirements Ordering</h1>
<div id='jqxTabs'>
    <ul style='margin-left: 20px;'>
        <li>Tab 1</li>
        <li>Tab 2</li>
        <li>Tab 3</li>
        <li>Tab 4</li>
        <li>Tab 5</li>
    </ul>
    <div>
<div id="sortable" ng-controller="reqsCtrl">
    <div ng-repeat="x in requirements" class="jqxexpander" style="min-width: 500px">
        <div><strong>{{x.id + ': ' + x.title}}</strong></div>
        <div style="background-color: #ffd11a">
            <strong>Description</strong>: {{x.description}}<br>
            <strong>Characteristics:</strong>: {{x.characteristics}}<br>
            <strong>Issue</strong>: <a href={{x.link}} target="_blank">{{x.link}}</a>
        </div>
    </div>
</div>
    </div>
    <div>
<div id="sortable" ng-controller="reqsCtrl">
    <div ng-repeat="x in requirements" class="jqxexpander" style="min-width: 500px">
        <div><strong>{{x.id + ': ' + x.title}}</strong></div>
        <div style="background-color: #ffd11a">
            <strong>Description</strong>: {{x.description}}<br>
            <strong>Characteristics:</strong>: {{x.characteristics}}<br>
            <strong>Issue</strong>: <a href={{x.link}} target="_blank">{{x.link}}</a>
        </div>
    </div>
</div>
    </div>
    <div>
<div id="sortable" ng-controller="reqsCtrl">
    <div ng-repeat="x in requirements" class="jqxexpander" style="min-width: 500px">
        <div><strong>{{x.id + ': ' + x.title}}</strong></div>
        <div style="background-color: #ffd11a">
            <strong>Description</strong>: {{x.description}}<br>
            <strong>Characteristics:</strong>: {{x.characteristics}}<br>
            <strong>Issue</strong>: <a href={{x.link}} target="_blank">{{x.link}}</a>
        </div>
    </div>
</div>
    </div>
    <div>
<div id="sortable" ng-controller="reqsCtrl">
    <div ng-repeat="x in requirements" class="jqxexpander" style="min-width: 500px">
        <div><strong>{{x.id + ': ' + x.title}}</strong></div>
        <div style="background-color: #ffd11a">
            <strong>Description</strong>: {{x.description}}<br>
            <strong>Characteristics:</strong>: {{x.characteristics}}<br>
            <strong>Issue</strong>: <a href={{x.link}} target="_blank">{{x.link}}</a>
        </div>
    </div>
</div>
    </div>
    <div>
<div id="sortable" ng-controller="reqsCtrl">
    <div ng-repeat="x in requirements" class="jqxexpander" style="min-width: 500px">
        <div><strong>{{x.id + ': ' + x.title}}</strong></div>
        <div style="background-color: #ffd11a">
            <strong>Description</strong>: {{x.description}}<br>
            <strong>Characteristics:</strong>: {{x.characteristics}}<br>
            <strong>Issue</strong>: <a href={{x.link}} target="_blank">{{x.link}}</a>
        </div>
    </div>
</div>
    </div>
</div>

<jqx-button ng-click="submit(gameId)">Submit prioritized requirements</jqx-button>

