<script src="supersede-dm-app/garp/js/solutions.js"></script>

<style>
    h1 {
        text-align: center;
    }
    #solutions > div > div {
        min-width: 500px;
        border-radius: 5px;
        margin: 5px auto;
    }
    #solutions div {
        padding: 5px;
    }
    #solutions > div > div:hover {
        border: 1px solid #356AA0;
    }
    p {
        margin: 1em;
    }
</style>

<div ng-controller="solutions">
	<h1>Solutions</h1>

    <div id="solutions">
        <div ng-repeat="solution in solutions">
            <div jqx-expander jqx-theme="summer" jqx-width="600">
                <div><strong>Solution {{solutions.indexOf(solution)}}</strong></div>
                <div style="background-color: #ffd11a">
                    <p ng-repeat="(requirementId, value) in solution">
                        <strong>Id</strong>: {{requirementId}}<br>
                        <strong>Name</strong>: {{getRequirement(requirementId).name}}<br>
                        <strong>Description</strong>: {{getRequirement(requirementId).description}}<br>
                        <strong>Value</strong>: {{value}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>