<script src="supersede-dm-app/garp/js/vote.js"></script>
<style>
    h1 {
        text-align: center;
    }
    #sortable {
        margin: 0 auto;
        padding: 5px;
        width: 520px;
    }
    #sortable > div > div {
        min-width: 500px;
        border-radius: 5px;
        margin: 5px auto;
    }
    #sortable div {
        padding: 5px;
    }
    #sortable > div > div:hover {
        border: 1px solid #356AA0;
    }
</style>
<div ng-controller="vote">
    <h1>Requirements Ordering for Criterion {{currentCriterion.criteriaId}}</h1>

    <div id="sortable">
        <div ng-repeat="x in requirements" id="{{x.requirementId}}">
            <div jqx-expander jqx-theme="summer" jqx-expanded="false" jqx-width="500">
                <div>
                    <strong>{{x.requirementId + ': ' + x.name}}</strong>
                </div>
                <div style="background-color: #ffd11a">
                    <strong>Description</strong>: {{x.description}}<br>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <jqx-button ng-show="!lastCriterion" style="margin-right: 10px" ng-click="saveCurrentOrdering()">Go to the next criterion</jqx-button>
        <jqx-button ng-show="lastCriterion" style="margin-right: 10px" ng-click="submitPriorities()">Submit priorities</jqx-button>
        <jqx-button ng-click="home()">GA Home</jqx-button>
        <p id="voted"></p>
    </div>
</div>