<script src="supersede-dm-app/ahprp/js/create_game.js"></script>

<div ng-controller="create_game">

    <h1>Decision Making Process</h1>

    <div id="page1" ng-show="currentPage == 'page1'">
        <div align="center">
            <div style="width: 400px;display:block;">
                <jqx-input type="text" ng-model="game.title" placeholder="Title" jqx-width="'98%'"/>
            </div>
            <br>
            <div style="width: 400px;display:block;">
                <jqx-text-area rows="6" ng-model="game.description" jqx-place-holder="Description" jqx-width="'100%'" jqx-height="100"></jqx-text-area>
            </div>
            <br>
            <div style="width: 100%; text-align: center;">
                <jqx-button ng-click="toPage(2)">Continue</jqx-button>
            </div>
        </div>
    </div>

    <div id="page2" ng-show="currentPage == 'page2'">
<!--         <p>Select the requirements to prioritize (at least two):</p> -->
<!--         <div class="selection"> -->
<!--             <label ng-repeat="requirement in requirements | orderBy: 'name'" class="selection-choice" -->
<!--                 ng-mouseenter="$parent.currentRequirement = requirement" -->
<!--                 ng-mouseleave="$parent.currentRequirement = undefined"> -->
<!--                 <input -->
<!--                     type="checkbox" -->
<!--                     name="selectedRequirements" -->
<!--                     value="{{requirement}}" -->
<!--                     ng-checked="game.requirements.indexOf(requirement) > -1" -->
<!--                     ng-click="toggleSelection(game.requirements, requirement)" -->
<!--                   /> {{requirement.name}} -->
<!--             </label> -->
<!--         </div> -->
<!--         <div ng-show="currentRequirement" class="selection-summary"> -->
<!--             <div class="summary-row">{{currentRequirement.description}}</div> -->
<!--         </div> -->
<!--         <div class="clear-div"></div> -->

<!--         <p>Select the criterias to prioritize (at least two):</p> -->
<!--         <div class="selection"> -->
<!--             <label ng-repeat="criteria in criterias | orderBy: 'name'"  class="selection-choice" -->
<!--                 ng-mouseenter="$parent.currentCriteria = criteria" -->
<!--                 ng-mouseleave="$parent.currentCriteria = undefined"> -->
<!--                 <input -->
<!--                     type="checkbox" -->
<!--                     name="selectedCriterias" -->
<!--                     value="{{criteria}}" -->
<!--                     ng-checked="game.criterias.indexOf(criteria) > -1" -->
<!--                     ng-click="toggleSelection(game.criterias, criteria)" -->
<!--                   /> {{criteria.name}} -->
<!--             </label> -->
<!--         </div> -->
<!--         <div ng-show="currentCriteria" class="selection-summary"> -->
<!--             <div class="summary-row">{{currentCriteria.description}}</div> -->
<!--         </div> -->
<!--         <div class="clear-div"></div> -->


<!--         <p>Select the players to prioritize (at least one):</p> -->
<!--         <div class="selection"> -->
<!--             <label ng-repeat="player in players | orderBy: 'name'"  class="selection-choice" -->
<!--                 ng-mouseenter="$parent.currentPlayer = player" -->
<!--                 ng-mouseleave="$parent.currentPlayer = undefined"> -->
<!--                 <input -->
<!--                     type="checkbox" -->
<!--                     name="selectedPlayers" -->
<!--                     value="{{player}}" -->
<!--                     ng-checked="game.players.indexOf(player) > -1" -->
<!--                     ng-click="toggleSelection(game.players, player)" -->
<!--                   /> {{player.name}} -->
<!--             </label> -->
<!--         </div> -->
<!--         <div ng-show="currentPlayer"  class="selection-summary"> -->
<!--             <div class="summary-row">{{currentPlayer.name}}</div> -->
<!--         </div> -->
<!--         <div class="clear-div"></div> -->
		
        <h2>Requirements</h2>
        <div style="font-size: 13px; font-family: Verdana">
            <div id="requirements"></div>
        </div>

        <h2>Criteria</h2>
        <div style="font-size: 13px; font-family: Verdana">
            <div id="criteria"></div>
        </div>

        <h2>Negotiator</h2>
        <div style="font-size: 13px; font-family: Verdana">
            <div id="negotiator"></div>
        </div>

        <h2>Opinion Providers</h2>
        <div style="font-size: 13px; font-family: Verdana">
            <div id="opinion_providers"></div>
        </div>
		
        <div class="clear-div"></div>
        
        <div style="width: 100%; text-align: center;">
            <jqx-button ng-click="toPage(1)">Back</jqx-button>
            <jqx-button ng-click="toPage(3)">Continue</jqx-button>
        </div>
        
    </div>

    <div id="page3" ng-show="currentPage == 'page3'">
        <p>Here you can set the priority between the choosen criteria:</p>
        <div ng-repeat="criteria in game.criterias" ng-if="$index < (game.criterias.length - 1)">
            <div ng-repeat="other_criteria in game.criterias" ng-if="$index > $parent.$index">
                <div>
                    <div style="float: left; width: 15%">{{criteria.name}}</div>
                    <div style="float: left; width: 70%; text-align: center;">
                        <label 
                        	class="radio-inline" 
                        	ng-init="choices[criteria.criteriaId][other_criteria.criteriaId]=4" 
                        	ng-repeat="requirementsChoice in requirementsChoices">
                        	
                        	<input type="radio" 
                          		ng-model="choices[criteria.criteriaId][other_criteria.criteriaId]" 
                           		ng-value="{{requirementsChoice.value}}" 
                           		name="radioRequirementsChoices{{criteria.criteriaId}}{{other_criteria.criteriaId}}">{{requirementsChoice.value}}
                           		</input>
                        </label>
                    </div>
                    <div style="float: right; width: 15%; text-align: right;">{{other_criteria.name}}</div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div style="width: 100%; text-align: center;">
            <jqx-button ng-click="toPage(2)">Back</jqx-button>
            <jqx-button ng-click="createGame()">Create</jqx-button>
        </div>
    </div>
</div>