<script src="supersede-dm-app/ahprp/js/game.js"></script>

<div ng-controller="game">

    <div style="float: left; width: 45%;">
        <h2>Decision making process details</h2>
        <p>Title: <b>{{game.title}}</b></p>
        <p>Progress (Negotiators votes):
            <jqx-progress-bar ng-model="game.progress" jqx-height="30" jqx-show-text="true" jqx-animation-duration="0" jqx-width="300"></jqx-progress-bar>
        </p>
        <p>Progress (Opinion Providers votes):
            <jqx-progress-bar ng-model="game.usersProgress" jqx-height="30" jqx-show-text="true" jqx-animation-duration="0" jqx-width="300"></jqx-progress-bar>
        </p>
        <p ng-show="game.description">Description: <b>{{game.description}}</b></p>
        <p>Criterias: <b ng-repeat="criteria in game.criterias">{{criteria.name  + ($index +1 != game.criterias.length ? ', ' : '')}}</b></p>
        <p>Requirements: <b ng-repeat="requirement in game.requirements">{{requirement.name + ($index +1 != game.requirements.length ? ', ' : '')}}</b></p>

        <p>Export actions:
            <a ng-click="exportGameData()">
                <img src="supersede-dm-app/ahprp/img/csv.png" title="Data" height="42" width="42">
            </a>
        </p>
        <p>Export results:
            <a ng-click="exportGameResults()">
                <img src="supersede-dm-app/ahprp/img/csv.png" title="Results" height="42" width="42">
            </a>
        </p>
    </div>

    <div style="float: right; width: 55%;">
        <h2>Calculate requirements ranks</h2>

        <jqx-chart id='chartContainer' jqx-settings="chartSettings" jqx-create="createChart" style="width: '100%'; height: 450px"></jqx-chart>


        <div align="center" style="margin-top: 15px;">
            <jqx-button ng-click="computeAHP(game.gameId)">Compute rank</jqx-button>
        </div></div>

    <div style="clear: both;"></div>

    <div ng-hide="game.finished">
        <div align="center">
        <div>
            <jqx-button ng-click="gameEnd(game.gameId)">Close decision making process</jqx-button>
        </div>
        </div>
    </div>

</div>