<script src="supersede-dm-app/ahprp/js/judge_act.js"></script>

<div ng-controller="judge_act">
    <div align="center" style="margin-top: 60px;">
        <h2>Evaluation criteria selected: <b>{{judgeAct.requirementsMatrixData.criteria.name}}</b></h2>
    </div>

    <div style="float: left; width: 50%;">
        <h3>First requirement</h3>
        <p><b>Requirement name:</b> {{judgeAct.requirementsMatrixData.rowRequirement.name}}</p>
        <p><b>Requirement description:</b> {{judgeAct.requirementsMatrixData.rowRequirement.description}}</p>
    </div>
    <div style="float: right; width: 50%; text-align: right;">
        <h3>Second requirement</h3>
        <p><b>Requirement name:</b> {{judgeAct.requirementsMatrixData.columnRequirement.name}}</p>
        <p><b>Requirement description:</b> {{judgeAct.requirementsMatrixData.columnRequirement.description}}</p>
    </div>
    <div style="clear: both;"></div>

    <div style="margin-top: 30px;">
        <h3>List of the opinion providers that are involved in this choice</h3>
    </div>
    <div ng-repeat="playerMove in playerMoves">
        <div ng-if="playerMove.value != null">
            <b>{{playerMove.player.name}}</b>: {{playerMove.value}}
        </div>
        <div ng-if="playerMove.value == null">
            <b>{{playerMove.player.name}}</b>: not voted
        </div>
    </div>

    <div align="center" style="margin-top: 30px;">
        <p>Select a grade of preference between <b>{{judgeAct.requirementsMatrixData.rowRequirement.name}}</b> and <b>{{judgeAct.requirementsMatrixData.columnRequirement.name}}</b>.</p>
        <label ng-repeat="requirementsChoice in requirementsChoices">
          <input type="radio" ng-model="selectedRequirementsChoice.selected" ng-value="{{requirementsChoice.value}}" name="radioRequirementsChoices">{{requirementsChoice.label}}
        </label>
    </div>
    <div align="center">
        <jqx-button jqx-on-click="insertJudgeVote()">Make decision</jqx-button>
    </div>
</div>