<script src="supersede-dm-app/ahprp/js/vote_view.js"></script>

<div ng-controller="vote_view">
	<div align="center" style="margin-top: 60px;">
		<h2>Evaluation criteria selected: <b>{{playerMove.requirementsMatrixData.criteria.name}}</b></h2>
	</div>
	
	<div style="float: left; width: 50%;">
		<h3>First requirement</h3>
		<p><b>Requirement name:</b> {{playerMove.requirementsMatrixData.rowRequirement.name}}</p>
		<p><b>Requirement description:</b> {{playerMove.requirementsMatrixData.rowRequirement.description}}</p>
	</div>
	<div style="float: right; width: 50%; text-align: right;">
		<h3>Second requirement</h3>
		<p><b>Requirement name:</b> {{playerMove.requirementsMatrixData.columnRequirement.name}}</p>
		<p><b>Requirement description:</b> {{playerMove.requirementsMatrixData.columnRequirement.description}}</p>
	</div>
	<div style="clear: both;"></div>

  	<div align="center" style="margin-top: 30px;">
		<p>Select a grade of preference between <b>{{playerMove.requirementsMatrixData.rowRequirement.name}}</b> and <b>{{playerMove.requirementsMatrixData.columnRequirement.name}}</b>.</p>
		<label class="radio-inline" ng-repeat="requirementsChoice in requirementsChoices">
			<input type="radio" ng-model="selectedRequirementsChoice.selected" ng-value="{{requirementsChoice.value}}" name="radioRequirementsChoices">{{requirementsChoice.label}}
		</label>
	</div>
	<div align="center">
		<jqx-button jqx-on-click="insertPlayerVote()">Submit preference</a>
	</div>
</div>