<script src="game-requirements/js/judge_acts.js"></script>
<div ng-controller="judge_acts">
	
   	<div style="float: left; width: 50%;">	
		<h3>Filter by criteria: </h3>
		<select class="form-control" name="selectCriteria" id="selectCriteria" ng-model="selectedCriteria" ng-change="changeCriteria()">
			<option value="{{undefined}}"></option>
			<option ng-repeat="criteria in criterias" value="{{criteria.criteriaId}}">{{criteria.name}}</option>
		</select>
   	 </div>
   
	<div style="float: right; width: 50%;">
		<h3>Filter by process name: </h3>
		<select class="form-control" name="selectGame" id="selectGame" ng-model="selectedGame" ng-change="changeGame()">
			<option value="{{undefined}}"></option>
			<option ng-repeat="game in games" value="{{game.gameId}}">{{game.title}}</option>
		</select>
	</div>
	<div style="clear: both;"></div>
	
	<div id='jqxTabs';">
		<ul style="margin-left: 30px; visibility: hidden;" id="unorderedList">
			<li>Available actions</li>
			<li>Finished actions</li>
		</ul>
		<div>
			<jqx-grid id="openGrid" jqx-create="createWidgetOpen" jqx-settings="openSettings"></jqx-grid>
		</div>
		<div>
			<jqx-grid id="closedGrid" jqx-create="createWidgetClosed" jqx-settings="closedSettings"></jqx-grid>
		</div>
	</div>
	
</div>  